/* Variables */
$mainBgColor: #f2f2f2;
$mainTextColor: #2C3E50;
$accentColor: #673AB7;

.tabContainer {
    padding: 0 50px;
    background-color: $mainBgColor;
    box-shadow: 0 3px 5px 0 rgba(black,.2);
    .tabs {
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        .tab {
            display: block;
            padding: 20px;
            width: 100%;
            text-align: center;
            text-transform: uppercase;
            white-space: nowrap;
            cursor: pointer;
            color: lighten($mainTextColor, 30);
            .text {
                display: inline-block;
                vertical-align: middle;
                cursor: pointer;
                font-size: 20px;
            }
            &.active {
                color: $accentColor;
                font-weight: 300;
            }
        }
        .indicator {
            position: absolute;
            bottom: 0;
            height: 3px;
            background: $accentColor;
        }
    }
}
.sectionsContainer {
  padding: 30px 50px 0;
  .sections {

  }
}
