.player__container {
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
}

.player {
  display: flex;
  width: 85%;
  li {
    margin: 0 15px;
    display: -webkit-flex; /* Safari */
    display: flex;
  }
;
}

.player__backward {
  div {
    margin: 0 15px;
  }
}

.player__main {
  flex-grow: 1;
}

.player__forward {
  i {
    margin: 0 15px;
  }
}

.progress {
  background: orange;
  width: 50%;
  position: relative;
}

.progress__end {
  position: absolute;
  right: 0;
}

.progress__bar {
  flex-grow: 1;
  height: 1px;
  background: #404040;
}
