@import url(https://fonts.googleapis.com/css?family=Libre+Franklin:300,500);

.player__container {
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  -webkit-box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.52);
  -moz-box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.52);
  box-shadow: 0px 4px 11px 1px rgba(0,0,0,0.52);
}
.player {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 50px;
  li {
    display: -webkit-flex; /* Safari */
    display: flex;
      div {
        margin: 10px 15px;
      }
  }
}
.player__backward {
  /*div {
    margin: 0 15px;
  }*/
}
.player__main{
    flex-grow:1;
    span{
      margin: 20px;
    }
    .progress__bar, .progress{
        height: 5px;
    }
    .progress, .progress__bar, .progress__container{
      padding: 0 !important;
      margin: 0 !important;
    }
}

.player__forward {
  /*i {
    margin: 0 15px;
  }*/
}

.progress__container{
    flex-grow: 1;
}

.progress__bar{
    width: 100%;
    background: black;
}

.progress{
    position: relative;
    background: orange;
    width: 50%;
    &:after{
        content: '';
        position: absolute;
        right: -2px;
        top: -4px;
        width: 15px;
        height: 15px;
        border-radius: 10px;
        background: orange;
    }
}

@font-face {
    font-family: 'roadrage';
    src:    url('static/fonts/roadrage.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
  }

.player__timer{
  font-family: 'Libre Franklin', sans-serif !important;
    // speak: none;
    // font-style: normal;
    // font-weight: normal;
    // font-variant: normal;
    // text-transform: none;
    line-height: 1;
    font-size: 20px;
    /* Better Font Rendering =========== */
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
}
